body {
font-family: Arial;
background: linear-gradient(to right, #1d976c, #93f9b9);
text-align: center;
}
.box {
background: white;
padding: 20px;
width: 300px;
margin: auto;
margin-top: 150px;
border-radius: 10px;
}
input, select, button {
width: 90%;
padding: 10px;
margin: 10px;
}
button {
background: #1d976c;
color: white;
border: none;
}
